body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-bottom: 50px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5rem; /* 24px */
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

label:hover {
    background-color: #0056b3;
}

input[type="submit"],
input[type="number"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="number"]:hover {
    background-color: #218838;
}

input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.helper-text {
    margin-top: 5px;
    font-size: 0.875rem; /* 14px */
    color: #6c757d;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    display: inline;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #007bff;
}

.convert-another {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.convert-another a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.convert-another a:hover {
    color: #0056b3;
}

.copy-button {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.copy-button button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button button:hover {
    background-color: #0056b3;
}

.copy-message {
    text-align: center;
    margin-top: 10px;
    color: #28a745; /* Green color */
    display: none; /* Initially hidden */
}
